<section class="slider-area ">
    <div class="slider-active">
        <!-- Single Slider -->
        
    <div class="single-slider slider-height d-flex align-items-center">
        
                <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-12">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInLeft" data-delay="0.2s" class="" style="animation-delay: 0.2s;">Online learning<br> platform</h1>
                            <p data-animation="fadeInLeft" data-delay="0.4s" class="" style="animation-delay: 0.4s;">Build skills with courses, certificates, and degrees online from world-class universities and companies</p>
                            <a href="#" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s" tabindex="0" style="animation-delay: 0.7s;">Join for Free</a>
                        </div>
                    </div>
                </div>
            </div>          
            
        
    </div>
</div>
</section>

<div class="services-area">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img src="assets/img/icon/icon1.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <h3>60+ UX courses</h3>
                        <p>The automated process all your website tasks.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img src="assets/img/icon/icon2.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <h3>Expert instructors</h3>
                        <p>The automated process all your website tasks.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img src="assets/img/icon/icon3.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <h3>Life time access</h3>
                        <p>The automated process all your website tasks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

