<section class="team-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Community experts</h2>
                </div>
            </div>
        </div>
        <div class="team-active slick-initialized slick-slider"><button type="button" class="slick-prev slick-arrow" style="display: block;"><i class="ti-angle-left"></i></button>
            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 3262px; transform: translate3d(-932px, 0px, 0px);"><div class="single-cat text-center slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" style="width: 203px;" tabindex="-1">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team2.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="-1">Mr. Uttom</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" style="width: 203px;" tabindex="-1">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team3.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="-1">Mr. Shakil</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 203px;" tabindex="-1">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team4.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="-1">Mr. Arafat</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 203px;" tabindex="-1">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team3.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="-1">Mr. saiful</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 203px;" tabindex="0">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team1.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="0">Mr. Urela</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 203px;" tabindex="0">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team2.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="0">Mr. Uttom</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 203px;" tabindex="0">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team3.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="0">Mr. Shakil</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 203px;" tabindex="0">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team4.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="0">Mr. Arafat</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide" data-slick-index="4" aria-hidden="true" style="width: 203px;" tabindex="-1">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team3.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="-1">Mr. saiful</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 203px;" tabindex="-1">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team1.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="-1">Mr. Urela</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" style="width: 203px;" tabindex="-1">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team2.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="-1">Mr. Uttom</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" style="width: 203px;" tabindex="-1">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team3.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="-1">Mr. Shakil</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" style="width: 203px;" tabindex="-1">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team4.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="-1">Mr. Arafat</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div><div class="single-cat text-center slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" style="width: 203px;" tabindex="-1">
                <div class="cat-icon">
                    <img src="assets/img/gallery/team3.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html" tabindex="-1">Mr. saiful</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div></div></div>
            
            
            
            
        <button type="button" class="slick-next slick-arrow" style="display: block;"><i class="ti-angle-right"></i></button></div>
    </div>
</section>