<section class="about-area3 fix">
    <div class="support-wrapper align-items-center">
        <div class="right-content3">
            <!-- img -->
            <div class="right-img">
                <img src="assets/img/gallery/about3.png" alt="">
            </div>
        </div>
        <div class="left-content3">
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-20">
                <div class="front-text">
                    <h2 class="">Learner outcomes on courses you will take</h2>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="assets/img/icon/right-icon.svg" alt="">
                </div>
                <div class="features-caption">
                    <p>Techniques to engage effectively with vulnerable children and young people.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="assets/img/icon/right-icon.svg" alt="">
                </div>
                <div class="features-caption">
                    <p>Join millions of people from around the world
                    learning together.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="assets/img/icon/right-icon.svg" alt="">
                </div>
                <div class="features-caption">
                    <p>Join millions of people from around the world learning together.
                    Online learning is as easy and natural.</p>
                </div>
            </div>
        </div>
    </div>
</section>