<div class="courses-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Our featured courses</h2>
                </div>
            </div>
        </div>
        <div class="courses-actives slick-initialized slick-slider">
            <button type="button" class="slick-prev slick-arrow" style="display: block;"><i class="ti-angle-left"></i></button>
        
        <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 3450px; transform: translate3d(-1035px, 0px, 0px);">
                <div class="properties pb-20 slick-slide slick-cloned" style="width: 315px;" tabindex="-1" data-slick-index="-2" aria-hidden="true">
                <div class="properties__card">
                    <div class="properties__img overlay1">
                        <a href="#" tabindex="-1"><img src="assets/img/gallery/featured3.png" alt=""></a>
                    </div>
                    <div class="properties__caption">
                        <p>User Experience</p>
                        <h3><a href="#" tabindex="-1">Fundamental of UX for Application design</a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.

                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                            <div class="restaurant-name">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                </div>
                                <p><span>(4.5)</span> based on 120</p>
                            </div>
                            <div class="price">
                                <span>$135</span>
                            </div>
                        </div>
                        <a href="#" class="border-btn border-btn2" tabindex="-1">Find out more</a>
                    </div>

                </div>
            </div><div class="properties pb-20 slick-slide slick-cloned" style="width: 315px;" tabindex="-1" data-slick-index="-1" aria-hidden="true">
                <div class="properties__card">
                    <div class="properties__img overlay1">
                        <a href="#" tabindex="-1"><img src="assets/img/gallery/featured2.png" alt=""></a>
                    </div>
                    <div class="properties__caption">
                        <p>User Experience</p>
                        <h3><a href="#" tabindex="-1">Fundamental of UX for Application design</a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.

                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                            <div class="restaurant-name">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                </div>
                                <p><span>(4.5)</span> based on 120</p>
                            </div>
                            <div class="price">
                                <span>$135</span>
                            </div>
                        </div>
                        <a href="#" class="border-btn border-btn2" tabindex="-1">Find out more</a>
                    </div>

                </div>
            </div><div class="properties pb-20 slick-slide" style="width: 315px;" tabindex="-1" data-slick-index="0" aria-hidden="true">
                <div class="properties__card">
                    <div class="properties__img overlay1">
                        <a href="#" tabindex="-1"><img src="assets/img/gallery/featured1.png" alt=""></a>
                    </div>
                    <div class="properties__caption">
                        <p>User Experience</p>
                        <h3><a href="#" tabindex="-1">Fundamental of UX for Application design</a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.

                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                            <div class="restaurant-name">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                </div>
                                <p><span>(4.5)</span> based on 120</p>
                            </div>
                            <div class="price">
                                <span>$135</span>
                            </div>
                        </div>
                        <a href="#" class="border-btn border-btn2" tabindex="-1">Find out more</a>
                    </div>

                </div>
            </div><div class="properties pb-20 slick-slide slick-current slick-active" style="width: 315px;" tabindex="0" data-slick-index="1" aria-hidden="false">
                <div class="properties__card">
                    <div class="properties__img overlay1">
                        <a href="#" tabindex="0"><img src="assets/img/gallery/featured2.png" alt=""></a>
                    </div>
                    <div class="properties__caption">
                        <p>User Experience</p>
                        <h3><a href="#" tabindex="0">Fundamental of UX for Application design</a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.
                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                            <div class="restaurant-name">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                </div>
                                <p><span>(4.5)</span> based on 120</p>
                            </div>
                            <div class="price">
                                <span>$135</span>
                            </div>
                        </div>
                        <a href="#" class="border-btn border-btn2" tabindex="0">Find out more</a>
                    </div>
                </div>
            </div><div class="properties pb-20 slick-slide slick-active" style="width: 315px;" tabindex="0" data-slick-index="2" aria-hidden="false">
                <div class="properties__card">
                    <div class="properties__img overlay1">
                        <a href="#" tabindex="0"><img src="assets/img/gallery/featured3.png" alt=""></a>
                    </div>
                    <div class="properties__caption">
                        <p>User Experience</p>
                        <h3><a href="#" tabindex="0">Fundamental of UX for Application design</a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.

                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                            <div class="restaurant-name">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                </div>
                                <p><span>(4.5)</span> based on 120</p>
                            </div>
                            <div class="price">
                                <span>$135</span>
                            </div>
                        </div>
                        <a href="#" class="border-btn border-btn2" tabindex="0">Find out more</a>
                    </div>

                </div>
            </div><div class="properties pb-20 slick-slide" style="width: 315px;" tabindex="-1" data-slick-index="3" aria-hidden="true">
                <div class="properties__card">
                    <div class="properties__img overlay1">
                        <a href="#" tabindex="-1"><img src="assets/img/gallery/featured2.png" alt=""></a>
                    </div>
                    <div class="properties__caption">
                        <p>User Experience</p>
                        <h3><a href="#" tabindex="-1">Fundamental of UX for Application design</a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.

                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                            <div class="restaurant-name">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                </div>
                                <p><span>(4.5)</span> based on 120</p>
                            </div>
                            <div class="price">
                                <span>$135</span>
                            </div>
                        </div>
                        <a href="#" class="border-btn border-btn2" tabindex="-1">Find out more</a>
                    </div>

                </div>
            </div><div class="properties pb-20 slick-slide slick-cloned" style="width: 315px;" tabindex="-1" data-slick-index="4" aria-hidden="true">
                <div class="properties__card">
                    <div class="properties__img overlay1">
                        <a href="#" tabindex="-1"><img src="assets/img/gallery/featured1.png" alt=""></a>
                    </div>
                    <div class="properties__caption">
                        <p>User Experience</p>
                        <h3><a href="#" tabindex="-1">Fundamental of UX for Application design</a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.

                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                            <div class="restaurant-name">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                </div>
                                <p><span>(4.5)</span> based on 120</p>
                            </div>
                            <div class="price">
                                <span>$135</span>
                            </div>
                        </div>
                        <a href="#" class="border-btn border-btn2" tabindex="-1">Find out more</a>
                    </div>

                </div>
            </div><div class="properties pb-20 slick-slide slick-cloned" style="width: 315px;" tabindex="-1" data-slick-index="5" aria-hidden="true">
                <div class="properties__card">
                    <div class="properties__img overlay1">
                        <a href="#" tabindex="-1"><img src="assets/img/gallery/featured2.png" alt=""></a>
                    </div>
                    <div class="properties__caption">
                        <p>User Experience</p>
                        <h3><a href="#" tabindex="-1">Fundamental of UX for Application design</a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.
                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                            <div class="restaurant-name">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                </div>
                                <p><span>(4.5)</span> based on 120</p>
                            </div>
                            <div class="price">
                                <span>$135</span>
                            </div>
                        </div>
                        <a href="#" class="border-btn border-btn2" tabindex="-1">Find out more</a>
                    </div>
                </div>
            </div><div class="properties pb-20 slick-slide slick-cloned" style="width: 315px;" tabindex="-1" data-slick-index="6" aria-hidden="true">
                <div class="properties__card">
                    <div class="properties__img overlay1">
                        <a href="#" tabindex="-1"><img src="assets/img/gallery/featured3.png" alt=""></a>
                    </div>
                    <div class="properties__caption">
                        <p>User Experience</p>
                        <h3><a href="#" tabindex="-1">Fundamental of UX for Application design</a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.

                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                            <div class="restaurant-name">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                </div>
                                <p><span>(4.5)</span> based on 120</p>
                            </div>
                            <div class="price">
                                <span>$135</span>
                            </div>
                        </div>
                        <a href="#" class="border-btn border-btn2" tabindex="-1">Find out more</a>
                    </div>

                </div>
            </div><div class="properties pb-20 slick-slide slick-cloned" style="width: 315px;" tabindex="-1" data-slick-index="7" aria-hidden="true">
                <div class="properties__card">
                    <div class="properties__img overlay1">
                        <a href="#" tabindex="-1"><img src="assets/img/gallery/featured2.png" alt=""></a>
                    </div>
                    <div class="properties__caption">
                        <p>User Experience</p>
                        <h3><a href="#" tabindex="-1">Fundamental of UX for Application design</a></h3>
                        <p>The automated process all your website tasks. Discover tools and techniques to engage effectively with vulnerable children and young people.

                        </p>
                        <div class="properties__footer d-flex justify-content-between align-items-center">
                            <div class="restaurant-name">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half"></i>
                                </div>
                                <p><span>(4.5)</span> based on 120</p>
                            </div>
                            <div class="price">
                                <span>$135</span>
                            </div>
                        </div>
                        <a href="#" class="border-btn border-btn2" tabindex="-1">Find out more</a>
                    </div>

                </div>
            </div></div></div><button type="button" class="slick-next slick-arrow" style="display: block;"><i class="ti-angle-right"></i></button></div>
    </div>
</div>